.zuoce {
  position: relative;
  width: 100%;
  float: none;
}

.youce {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.wenzhang {
  margin: 0;
}

.zuoce .lianxifangshi {
  display: none;
  text-align: left;
}

#menu-checkbox:checked ~ .lianxifangshi {
  display: block;
}

#menu-toggle {
  display: block;
  position: absolute;
  top: 32px;
  right: 16px;
  font-size: 16px;
  font-weight: normal;
  color: #38383C;
  line-height: normal;
  line-height: 1;
  padding: 8px 8px;
  display: inline-block;
  background-color: #28292D;
  -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.25);
  box-shadow: 0 0 2px 2px rgba(0,0,0,.25);
}
