.zuoce {
  position: relative;
  width: 100%;
  float: none;
}

.youce {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

.wenzhang {
  margin: 0;
}

.zuoce .lianxifangshi {
  display: none;
  text-align: left;
}

#menu-checkbox:checked ~ .lianxifangshi {
  display: block;
}

#menu-toggle {
  display: block;
  position: absolute;
  top: -32px;
  right: -16px;
  font-size: 48px;
  font-weight: lighter;
  color: #2F3034;
}
