.zuoce {
  position: relative;
  width: 100%;
  float: none;
}

.youce {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

.wenzhang {
  margin: 0;
}

.zuoce .lianxifangshi {
  display: none;
  text-align: left;
}

#menu-checkbox:checked ~ .lianxifangshi {
  display: block;
}

#menu-toggle {
  display: block;
  position: absolute;
  top: 16px;
  right: 8px;
  font-size: 16px;
  font-weight: normal;
  color: #38383C;
  line-height: normal;
  line-height: 1;
  padding: 8px 8px;
  display: inline-block;
  background-color: #28292D;
  border: 2px solid #38383C;
}
